<h1>
    {{header}}{{#if gameName}} - "{{gameName}}"{{/if}}
</h1>

{{#each games}}
<div>
<table class="table games-table table-bordered">
    <tr class="common-row">
        <td class="first-col">Name</td>
        <td><a href={{url}}>{{name}}</a></td>
        <td align="center" rowspan="3" class="image-column">
            <img src={{image_url}} class="game-image" alt="Game Image">
        </td>
    </tr>
    <tr class="common-row">
        <td>ID</td>
        <td>{{id}}</td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <input type="button" class="btn btn-outline-primary w-100" value="Add To Group">
            <hr>
            <form action="/games/{{id}}" method="GET">
                <button type="submit" class="btn btn-outline-primary w-100">Details</button>
            </form>
        </td>
    </tr>
</table>
</div>
{{/each}}

{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}