<h1>
    {{header}} 
    {{#if gameName}}
    - "{{gameName}}"
    {{/if}}
</h1>

{{#each games}}
<table class="table table-bordered">
    <tr>
        <td>Name:</td>
        <td><a href={{this.url}}>{{this.name}}</a></td>
        <td rowspan="5" width="200px"><img src={{this.image}} class="game-image vertical-center" alt="Game Image"></td>
        <td rowspan="5"><input type="button" value="Add To Group"></td>
    </tr>
    <tr>
        <td>ID:</td>
        <td>{{this.id}}</td>
    </tr>
    <tr>
        <td>Publisher:</td>
        <td>{{this.publisher}}</td>
    </tr>
    <tr>
        <td>Amazon Rank:</td>
        <td>{{this.amazon_rank}}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{this.price}}</td>
    </tr>
</table>
{{/each}}

{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}