<h1>
    {{header}}{{#with game}} - "{{name}}"{{/with}}
</h1>

{{#with game}}
<table class="table game-details-table table-bordered center">
    <tr class="common-row">
        <td class="first-col">Name</td>
        <td><a href={{url}}>{{name}}</a></td>
        <td rowspan="9" width="500px">
            <img src={{image_url}} class="game-image vertical-center" alt="Game Image">
        </td>
    </tr>
    <tr class="common-row">
        <td>ID</td>
        <td>{{id}}</td>
    </tr>
    <tr class="common-row">
        <td>Publisher</td>
        <td>{{publisher}}</td>
    </tr>
    <tr class="common-row">
        <td>Amazon Rank</td>
        <td>{{amazon_rank}}</td>
    </tr>
    <tr class="common-row">
        <td>Price</td>
        <td>{{price}}</td>
    </tr>
    <tr class="common-row">
        <td>Mechanics</td>
        <td>
            {{#each mechanics}}
            {{this}}{{#unless @last}}, {{/unless}}
            {{/each}}
        </td>
    </tr>
    <tr class="common-row">
        <td>Categories</td>
        <td>
            {{#each categories}}
            {{this}}{{#unless @last}}, {{/unless}}
            {{/each}}
        </td>
    </tr>
    <tr class="common-row">
        <td>Description</td>
        <td>
            <p align="center">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#description"
                    aria-expanded="false" aria-controls="collapseExample">
                    Show Description
                </button>
            </p>
            <div class="collapse" id="description">
                <div class="card card-body">
                    {{description}}
                </div>
            </div>
        </td>
    </tr>
    <tr class="common-row">
        <td align="center" colspan="2">
            <form method="POST"
                onsubmit="this.action = '/user/guestId/groups/' + this.groupId.value + '/games/{{id}}';">
                <select class="form-select inline w-50" aria-label="Group selection" id="groupId" required>
                    <option value="" selected>Select a group</option>
                    {{#each ../groups}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <input type="submit" class="btn btn-primary inline" value="Add To Group" style="width: 45%!important;">
            </form>
        </td>
    </tr>
</table>
{{/with}}