<h1>
    {{header}}{{#with group}} - "{{name}}"{{/with}}
</h1>

{{#with group}}
<table class="groups-table table table-bordered center">
    <tr class="common-row">
        <td class="first-col">Name</td>
        <td>{{name}}</td>
    </tr>
    <tr class="common-row">
        <td>Description</td>
        <td>{{description}}</td>
    </tr>
    <tr class="common-row">
        <td>Games</td>
        <td>
            {{#each games}}
            <a href="/games/{{@key}}">{{this}}</a>{{#unless @last}}, {{/unless}}
            {{/each}}
        </td>
    </tr>
    <tr class="common-row">
        <td align="center" colspan="2">
            <input type="button" class="btn btn-outline-primary inline w-25" value="Edit" data-bs-toggle="collapse"
                data-bs-target="#editGroup">
            <input type="button" class="btn btn-outline-danger inline w-25" value="Delete" data-bs-toggle="collapse"
                data-bs-target="#deleteGroup">

            <div class="collapse w-75 center" id="editGroup">
                <br>
                <div class="card card-body">
                    <h4>Edit Group</h4>

                    <form action="/user/{{../user.userId}}/groups/{{id}}" method="POST">
                        <div class="mb-3">
                            <label for="newGroupName" class="form-label">New Name</label>
                            <input type="text" class="form-control" id="newGroupName" name="newGroupName"
                                placeholder="Enter new group name">
                        </div>
                        <div class="mb-3">
                            <label for="newGroupDescription" class="form-label">New Description</label>
                            <input type="text" class="form-control" id="newGroupDescription" name="newGroupDescription"
                                placeholder="Enter new group description">
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>

            <div class="collapse w-75 center" id="deleteGroup">
                <br>
                <div class="card card-body">
                    <h4>Delete Group</h4>

                    <form action="/user/{{../user.userId}}/groups/{{id}}/delete" method="POST">
                        <div class="mb-3">
                            <div class="alert alert-danger" role="alert">
                                Are you sure you want to delete this group?
                                Once you delete a group, there is no going back. Please be certain.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

            <hr>

            <form method="POST"
                onsubmit="this.action = '/user/{{../user.userId}}/groups/{{id}}/games/' + this.game.value + '/remove';">
                <select class="form-select inline w-50" aria-label="Game selection" id="game" required>
                    <option value="" selected>Select a game</option>
                    {{#each games}}
                    <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                </select>
                <input type="submit" class="btn btn-primary inline" value="Remove From Group"
                    style="width: 45%!important;">
            </form>
        </td>
    </tr>
</table>
{{/with}}